<h1>All Restaurant</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Enter Restaurant</th>
      <%# <th> create new restaurant </th> %>
     <%# <th><td><%= link_to "enter new restaurant",,class: "btn btn-primary" %></td></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |rest| %>
      <tr>
        <td><%= rest.name %></td>
        <td><%= rest.description %></td>
        <td><%= rest.address %></td>
        <td><%= link_to "enter restaurant",class: "btn btn-primary" %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%# restaurant_cuisine_index_path(rest.id) %>