<h3> Food Items </h3>
<table class="table">
 <thead> 
  <tr>
   <th>Name </th>
   <th>Description</th>
   <th>Price</th>
   <th>Actions</th>
  </tr>
</thead>
<tbody>
 <% @fooditems.each do |fooditem| %>
  <tr> 
   <td><%= fooditem.name %></td>
   <td><%= fooditem.description %></td>
   <td><%= fooditem.price %></td>
  <td>
   <%= link_to "Edit", edit_fooditem_path(fooditem),class: "btn btn-primary" %>
   <%= link_to "add new items", new_fooditem_path ,class: "btn btn-primary" %>
   <%= link_to "delete item items", fooditem_path(fooditem) , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },class: "btn btn-primary" %>
   <%#= link_to "Delete", fooditem_path(fooditem), method: :delete,data:{confirm:are you delete this item},class: "btn btn-danger" %>
  </td>
 </tr>
<% end %>
</tbody>
</table>