<% if user_signed_in? %>
<h1>All Restaurant</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |rest| %>
      <tr>
        <td><%= rest.name %></td>
        <td><%= rest.description %></td>
        <td><%= rest.address %></td>
        <td class="d-flex">
      <% if current_user.admin? %>
        <%= link_to "view cuisines",restaurant_cuisines_path(rest), class: "btn btn-primary" %> 
        <%= link_to "update restaurant", edit_restaurant_path(rest),class: "btn btn-primary" %>
        <%= link_to "Add new Restaurant", new_restaurant_path,class: "btn btn-primary btn-sm" %>
        <%= link_to "delete restaurant", restaurant_path(rest), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },method: :delete,class: "btn btn-primary" %></td>
      <% else %>
        <%= link_to "view cuisines",restaurant_cuisines_path(rest), class: "btn btn-primary" %>
        <%= button_to "show food","/cuisines/cuisine", class: "btn btn-primary" %> 
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<%# restaurant_cuisine_index_path(rest.id) %>