<% if user_signed_in? %>
  <div class="container">
    <h1><center>All Restaurant</center><h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Description</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @restaurants.each do |rest| %>
          <tr>
            <td><%= rest.name %></td>
            <td><%= rest.description %></td>
            <td><%= rest.address %></td>
            <td class="d-flex">
              <% if current_user.admin? %>
                <%= link_to "update restaurant", edit_restaurant_path(rest), class: "btn btn-outline-primary mr-1" %>
                <%= link_to "delete restaurant", restaurant_path(rest), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },method: :delete,class:"btn btn-outline-primary mr-1" %></td>
            <% else %>
              <%= link_to "Menu",restaurant_fooditems_path(rest), class: "btn btn-primary" %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%#= will_paginate @restaurants %>
  <div class="text-center">
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @restaurants %>
        <%= will_paginate @restaurants %>
      </div>
    </div>
  </div>
</div>


