<h1>New Restaurant</h1>

<%= form_with model: @restaurant do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.submit "Create Restaurant" %>
  </div>
<% end %>
